html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
  font-family: "Fira Code", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  font-family: inherit;
}

.pag-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #0d1117;
  background: linear-gradient(11deg, rgb(25, 25, 25) 28%, rgb(7, 11, 16) 99%);
  color: #E5E9F0;
}

.main-header {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: #0d1117;
  align-items: center;
  border-bottom: 0.5px solid #a9a9a9;
}
.main-header div {
  display: flex;
  align-items: center;
}
.main-header a {
  color: #fff;
  text-decoration: none;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
}

.page_title {
  width: 300px;
  height: 60px;
  margin-left: 20px;
  border-right: 0.5px solid #a9a9a9;
}

.main_page, .about_me_page, .project_page {
  justify-content: center;
  width: 150px;
  height: 60px;
  border-right: 0.5px solid #a9a9a9;
  cursor: pointer;
}
.main_page:hover, .about_me_page:hover, .project_page:hover {
  border-bottom: 4px solid #FEA55F;
}

.conect_me {
  position: absolute;
  justify-content: center;
  width: 125px;
  height: 60px;
  right: 10px;
  border-left: 0.5px solid #a9a9a9;
}

.front-pag {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.front-pag-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.front-pag-box .p1 {
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
}
.front-pag-box .t1 {
  font-weight: 400;
  font-size: 62px;
  line-height: 76px;
  color: #E5E9F0;
}
.front-pag-box .box-animation {
  display: flex;
  align-items: center;
}
.front-pag-box .box-animation .p2, .front-pag-box .box-animation .p3 {
  margin: 10px;
  font-weight: 450;
  font-size: 32px;
  line-height: 39px;
  color: #E2DCC8;
}
.front-pag-box .box-animation .p2 {
  animation: seta 1s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes seta {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.second-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.second-pag .second-pag-box {
  width: 569px;
  height: 432px;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
}

.footer-pag {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 0.5px solid #a9a9a9;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #607B96;
}
.footer-pag div {
  display: flex;
  align-items: center;
}
.footer-pag .find {
  justify-content: center;
  width: 170px;
  height: 50px;
  border-right: 0.5px solid #a9a9a9;
}
.footer-pag .find-icon {
  justify-content: center;
  width: 50px;
  height: 50px;
  border-right: 0.5px solid #a9a9a9;
}
.footer-pag .find-icon a {
  color: #607B96;
}
.footer-pag .find-icon .fa-linkedin {
  transition-duration: 900ms;
}
.footer-pag .find-icon .fa-linkedin:hover {
  transform: scale(250%);
  color: rgb(10, 102, 194);
}
.footer-pag .me-id {
  position: absolute;
  justify-content: center;
  width: 200px;
  height: 50px;
  right: 0px;
  border-left: 0.5px solid #a9a9a9;
}
.footer-pag .me-id a {
  color: #607B96;
  text-decoration: none;
}
.footer-pag .me-id .fa-github {
  transition-duration: 900ms;
}
.footer-pag .me-id .fa-github:hover {
  transform: scale(130%);
  color: #fff;
}
.footer-pag .me-id p {
  margin-right: 5px;
  margin-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
