.footer-pag
    display: flex
    align-items: center
    height: 50px
    border-top: 0.5px solid #a9a9a9

    font-weight: 450
    font-size: 16px
    line-height: 20px
    color: #607B96

    div
        display: flex
        align-items: center

    .find
        justify-content: center
        width: 170px
        height: 50px
        border-right: 0.5px solid #a9a9a9
    .find-icon
        justify-content: center
        width: 50px
        height: 50px
        border-right: 0.5px solid #a9a9a9
        a
            color: #607B96
        .fa-linkedin
            transition-duration: 900ms
        .fa-linkedin:hover
            transform: scale(250%)
            color: rgb(10, 102, 194)
        
    .me-id
        position: absolute
        justify-content: center
        width: 200px
        height: 50px
        right: 0px
        border-left: 0.5px solid #a9a9a9
        a
            color: #607B96
            text-decoration: none
        .fa-github
            transition-duration: 900ms

        .fa-github:hover
            transform: scale(130%)
            color: #fff

        p
            margin-right: 5px
            margin-left: 10px
            